/* HeroDetailComponent's private CSS styles */
mat-card {
  border: solid 1px;
  width: 500px;
  height: 300px;
  margin-left: 200px;
}
span {
  display: block;
}
.margin-left {
  margin-left: 60px;
}
mat-card-actions {
  margin-left: 60px; 
}
/* label {
    display: inline-block;
    width: 3em;
    margin: .5em 0;
    color: #607D8B;
    font-weight: bold;
  }
  input {
    height: 2em;
    font-size: 1em;
    padding-left: .4em;
  }
  button {
    margin-top: 20px;
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
  }
  button:hover {
    background-color: #cfd8dc;
  }
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  } */
