<h2>Github Users Table</h2>
<!-- <div class="example-header">
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
  </div> -->
<div class="example-container mat-elevation-z8">
    <!-- <div class="example-loading-shade">
        <mat-spinner *ngIf="isLoadingResults"></mat-spinner>  
    </div> -->
    <table mat-table [dataSource]="users">

        <!-- Check box functionality -->
        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> <mat-checkbox (change)="masterToggle($event)"></mat-checkbox></th>
            <td mat-cell *matCellDef="let row"><mat-checkbox></mat-checkbox></td>
        </ng-container>
        <!-- ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef> id </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- login Column -->
        <ng-container matColumnDef="login">
            <th mat-header-cell *matHeaderCellDef> LoginName </th>
            <td mat-cell *matCellDef="let element"> {{element.login}} </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="getUserDetails(row)"></tr>
    </table>
    <mat-paginator [length]="resultsLength" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>


<!-- <user-detail [selectedUser]="selectedUser"></user-detail> -->
